<!DOCTYPE html>
<html lang="{{ site.LanguageCode }}">
<!-- Cette page est la construction standard des pages du site web -->
<head>
<!-- On charge l'ensemble des données importante dans le head -->
  {{ partial "meta.html" . }}
  {{ partial "title.html" . }}
  {{ partial "link.html" . }}
  {{ partial "load_site_assets.html" . }}
  {{ block "load_page_assets" . }}
  {{ with .Content }}{{ end }}
  {{ end }}
  {{ partial "assets.html" . }}
</head>

<body>
<!-- On utilise partialCached pour invoquer banner.html, c'est le haut de page -->
  {{ partialCached "banner.html" . }}
  <main>
<!-- On verifie que l'on ne se trouve pas sur une page "single" du site... -->
    {{if or (not .IsPage) (eq .Title "Infos pratiques") }}
    <div class="head-padder">
      <div class="logo-wrapper">
          {{ readFile "static/logow.svg" | safeHTML }}
      </div>
<!-- ... Et dans le cas d'une section on cache la phrase d'accroche -->
      {{if and (not (.Section)) (not (eq .Title "Infos pratiques")) }}
      <div>
        <h5 class="intro">UN ATELIER PARTAGÉ À TOURS<br /> Lieu de rencontres, de créativité et de fabrication</h5>
      </div>
      {{end}}
    </div>
    {{end }}
    <div class="full-wrapper">
<!-- On envoi le contenu selon le fichier markdown sur lequel on se trouve qui va générer un list.html ou single.html -->
      {{ block "main" . }}{{ end }}
    </div>
  </main>
  {{ partialCached "footer.html" . }}
  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>

</html>
