{{define "main"}}
<div class="color-wrapper">
    <div class="color-block single-div">
        <svg class="uptriangle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
            <polygon class="uptriangle-shape" fill="white" points="0,100 100,0 100,100" />
            <rect width="2000" height="20" y="98" style="fill:var(--white);" />        </svg>

        <div class="rectangle">
<!-- .Content permet de donner le markdown du fichier a partir duquel la page se contstruit -->
{{.Content}}
            <form class="newsletter-form" action="newsletter_subscription.php">
                <label class="newsletter-form-item" for="email"><h4>E-Mail:</h4></label><br>
                <input type="text" id="email" name="email" class="newsletter-form-input">
                <input type="submit" value="Submit" class="newsletter-form-submit button-tertiary">
            </form>
        </div>
        <svg class="downtriangle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
            <polygon class="downtriangle-shape" fill="white" points="0,100 100,0 100,100" />
        </svg>
    </div>
</div>
{{ end }}