{{define "main"}}
<div class="color-wrapper">
    <div class="color-block single-div">
<svg class="uptriangle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
            <polygon class="uptriangle-shape" fill="white" points="0,100 100,0 100,100" />
            <rect width="2000" height="20" y="98" style="fill:var(--white);" />        </svg>
        <div class="rectangle">
            {{.Content}}
        </div>
        <svg class="downtriangle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
            <polygon class="downtriangle-shape" fill="white" points="0,100 100,0 100,100" />
        </svg>
    </div>
</div>
{{ end }}