{{ define "main" }}
<!-- Si nous sommes dans une page de type article... -->
{{ if and (not (eq .Section "LaFun")) (not (eq .Section "Activites")) }}
<!-- Pour celles de la section Lafun, l'image ne s'affiche pas de la même manière que dans un article -->
<div class="single-image">
<!-- On affiche l'image au dessus des paragraphes -->
  {{ with .Resources.ByType "image" }}
  {{ range first 1 . }}
  <img class="image-single" src="{{ .RelPermalink}}" alt="Image manquante">
  {{ end }}
  {{ end }}
</div>
{{else}}
<div class="presentations-logo">
  {{ with .Resources.ByType "image" }}
  {{ range first 1 . }}
  <img class="" src="{{ .RelPermalink}}" alt="Illustration manquante">
  {{ end }}
  {{end}}
</div>
{{end}}

<div class="color-wrapper">
  {{if or (eq .Section "LaFun") (eq .Section "Activites")}}
<!-- Pour la gestion des paragraphes :  -->
  {{partial "presentation.html" .}}
  {{else}}
<!-- Dans un cas normal... -->
{{$titlecompare := "Infos pratiques"}} 
  <div class="color-block single-div" {{if eq .Title $titlecompare }}style="margin-top:0;"{{end}}>
    <svg class="uptriangle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" {{if eq .Title $titlecompare }}style="margin-top:0;"{{end}} >
      <polygon class="uptriangle-shape" fill="white" points="0,100 100,0 100,100" />
      <rect width="2000" height="20" y="98" style="fill:var(--white);" />
    </svg>
    <div class="rectangle">
      <div class="" style="width: 100%;">
 {{if not (eq .Title $titlecompare) }}        
<div class="row justify-center">
          <h1 class="single-title">{{.Title}}</h1>
        </div>{{end}}
        <div class="row">
          {{ partial "breadcrumb.html" . }}
        </div>
<!-- On verifie que les paramêtres sont présents -->
        {{if .Params.publishDate}}
        <div class="row wrote-by">Article écrit par {{.Params.author}} le {{ (time .Params.publishDate).Day }}
          {{ index $.Site.Data.mois (printf "%d" (time .Params.eventDate).Month) }} {{ (time .Params.publishDate).Year }}
        </div>
        {{end}}

        <div class="single-article">
          {{.Content}}
        </div>

        {{if not (eq .Section "LaFun")}}
        {{if .Params.bandeauInfo}}
<!-- Si on a activé le bandeau d'information sur l'article -->
        <div class="single-info-wrapper">
          <div class="row justify-center">
            <h4 style="margin-bottom: 0;">INFORMATIONS</h4>
            <hr>
          </div>
          <div class="column justify-center" style="width: 75%; margin:auto;">

            <div class="row" style="justify-content: space-between;flex-wrap:nowrap;">

              <div class="infos-block">
                <div class="row" style="justify-content:flex-start; flex-wrap:nowrap;">
                  {{partial "duration_days.html" .}}
                </div>
              </div>
              {{if .Params.eventDate }}
              <div class="infos-block">
                <div class="row" style="justify-content:flex-start">
                  {{partial "duration_hour.html" .}}
                </div>
              </div>
              {{end}}
            </div>

            <div class="row " style="justify-content: space-between; flex-wrap:nowrap;">
              {{if .Param "_lieu"}}

              <div class="infos-block">
                <div class="row" style="justify-content:flex-start">
                  <div class="infos-icon" style="width: 10%;">{{ readFile "static/icones/map-marker.svg" | safeHTML }}</div>
                  <span style="width: 90%;" title='{{.Param "_lieu"}}'>{{ .Param "_lieu" }}</span>
                </div>
              </div>
              {{else}}
              <div class="info-block"></div>
              {{end}}
              {{if .Params._tarif}}
              <div class="infos-block">
                <div class="row" style="justify-content:flex-start">
                  <div class="infos-icon">{{ readFile "static/icones/money-bill.svg" | safeHTML }}</div>
                  <span>{{ .Params._tarif }}</span>
                </div>
              </div>
              {{else}}
              <div class="info-block"></div>
              {{end}}
            </div>
          </div>
          <hr>
          {{end}}
        </div>
        {{end}}

        <div class="row " style="justify-content: space-evenly; ">
          <div class="single-tag-list">
            {{range .Params.tags}}
            <a href="{{ $.Site.BaseURL }}/tags/{{ . | urlize }}" style="color:var(--dark-blue)"
              class="button-secondary tag-link" style="margin-right: 0.1em;">{{.}}</a>
            {{end}}
          </div>
        </div>

      </div>
    </div>
    <svg class="downtriangle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
      <polygon class="downtriangle-shape" fill="white" points="0,100 100,0 100,100" />
    </svg>
  </div>
  {{end}}
  {{if eq .Section "Actualites"}}
  {{ partial "linked_articles.html" . }}
  {{end}}
</div>
{{ end }}