{{if .Params.eventDate}}
{{if eq .Params.displayHour true}}

<div class="infos-icon">{{ readFile "static/icones/clock.svg" | safeHTML }}</div>

    {{if .Params.duration}}
<span class="stamp-info" title='{{ (time .Params.eventDate).Hour }}:{{ dateFormat "04" (time .Params.eventDate).Minute }},{{.Params.duration}}'>{{.Params.duration}}</span>
    {{end}}

{{else}}
    {{if .Params.duration}}
<div class="infos-icon">{{ readFile "static/icones/clock.svg" | safeHTML }}</div>
<span class="stamp-info">{{.Params.duration}}</span>
    {{end}}
{{end}}

{{end}}