<div class="color-block">
    <svg class="uptriangle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon class="uptriangle-shape" fill="white" points="0,100 100,0 100,100" />
        <rect width="2000" height="20" y="98" style="fill:var(--white);" />
    </svg>
    <div class="rectangle">
<h3>Nous soutiennent :</h3>
<h3>Membres :</h3>
        <div class="row" style="justify-content: center;">
            <ul>
                {{range .Pages }}
                {{$linkToCheck := .Params.link}}
                <li><a href="{{$linkToCheck}}" {{partial "partials/linkTarget.html" (dict "linkString" $linkToCheck "ctx" $)| print | safeHTMLAttr}}>{{.Name}}</a></li>
                {{end}}
            </ul>
        </div>
    </div>
    <svg class="downtriangle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
        <polygon class="downtriangle-shape" fill="white" points="0,100 100,0 100,100" />
    </svg>

</div>