
{{if not (eq .Title "Programmation")}}
<div class="stamp stamp-home">
    <a href="{{.RelPermalink}}">
        <div class="stamp-image">
            {{ range first 1 (.Resources.ByType "image") }}

            <img src="{{.Permalink}}" alt="image">
{{end}}
        </div>
        <div class="stamp-home-title">
            <div class="titre" title="{{.Title}}">{{.Title}}</div>
        </div>
    </a>
        <hr style="margin-top: 0; margin-bottom:0;">
            <div class="text ellipsed">
                {{.Summary}}
            </div>
        <div class="ligne"><a class="button-tertiary" href="{{.RelPermalink}}">En savoir plus</a></div>
</div>
{{end}}